<div class="container-fluid">
  <div class="d-flex flex-row justify-content-center px-5 mb-5">
    <img 
      src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Concesionario_de_Mercedes-Benz%2C_Múnich%2C_Alemania%2C_2013-03-30%2C_DD_25.JPG"
      alt="Location"
      style="height: 350px; width: 2000px; object-fit: cover;"
      >
  </div>

  <div class="d-flex flex-row justify-content-center mb-5">
    <form class="input-group input-group-lg" role="search" style="width: 40%;">
      <input type="text" class="form-control" placeholder="Busca la sede más cercana" aria-label="Busca la sede más cercana" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary d-flex flex-column justify-content-center" type="button" id="button-addon2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
    </form>
  </div>

  <div class="d-flex justify-content-around flex-wrap px-5 mb-5">
    <div
      *ngFor="let location of locations"
      class="card mb-3"
      style="width: 24rem;"
    >
      <div class="card-body d-flex">
        <div class="d-flex flex-column justify-content-center aling-items-center" style="width: 30%;">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pin-map mx-auto" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"/>
            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
          </svg>
        </div>
        <div>
          <p class="fs-3 fw-bold mb-0">{{ location.name }}</p>
          <p class="fs-6 fw-semi-bold">{{ location.address }}</p>
          <p>{{ location.phoneNumber }}</p>
          <p>{{ location.schedule }}</p>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <a class="btn btn-outline-dark" role="button" routerLink="/locations/{{ location.id }}">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>